body{
    background: ;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

header{
    background-image: url("../assets/img/SystemBack1.jpg");   
    height : 690px;    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
#map {
        height: 400px;  
        width: 100%;  
       }
 a.nav-link{
            padding: 0;
        }
        button .btn-outline-default{
            padding-right: 0;
            margin-right: 0;            
        }
        .btn-outline-default
        {
            letter-spacing: 2px;
            font-size: 11px!important;
            font-family: 'Do Hyeon', sans-serif;
        }
        .btn-outline-default:hover{
            color:white!important;
            background-color: #2bbbad!important;               
        }

.bg-dark{
    background-color:rgba(0, 0, 0, 0.6)!important;
}
.nav-bar{
    background-color:#000!important;
}
.education{             
    width : 100%;
    height : 100px;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 0.5px;
}
.edu-box{     
    color : ;
    background: ;
    width : 340px;
    height : 300px;    
    box-shadow: -5px 5px 10px 5px;
}
.edu-box .year p {        
    color: white!important;
    text-align: center!important;
}

        /*SKILLS*/
.skills {
    height : 530px;
    width : 100%;
    background-color: #ecf1f4;
}
.technical {
    color : aliceblue;
    padding: 5%;
    background-color:#424242;
}
.Personal {
    color : aliceblue;
    padding: 5%;
    background-color:#424242;
}
.Languages {
    color : aliceblue;
    padding: 5%;
    background-color:#424242;
}
.skills ul li{
    text-align: ;
}
.skills .progress{
    margin-top : 3%;
}
.footer{
    background-color: black;
    height: 22%;
}
.footer h5{
    margin-top: 1%;
}
.linkFooter{
    margin-top: 1%;
    padding-left: 40%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);    
}






    
        /*END OF SKILLS */
@import url('https:/s/fonts.googleapis.com/css?family=Do+Hyeon');

@media only screen and (max-width: 768px) {
    
    header{        
        background-image: url(../assets/img/SystemBack1.jpg);
        height : 550px;
        width: 100%;        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;         
        }       
    #skills { 
       margin-top: 270%!important;
    }
     #Education{
        margin-top: 90%!important;          
    } 
    .Personal{
        margin-top: 5%;
    }
    .Languages{
        margin-top: 5%;
    }
    .TestSkills{
        padding-top: 163%;
    }
    .myHome{
        display: block;
        text-align: center;
        padding-top: 15%;
    }
    .myHome iframe{
        width : 315px;
        height: 285px;
    }
        
}

/*   372 * 539   */
@media screen and (max-width: 380px) {
    .heading h2{
        font-size: 25px;
    }
    .paraHeadertxt{
        font-size: 14px;
    }
    .aboutbtn{
        margin-top: -15%;
    }
    .aboutImg{
        text-align: center;
    }
    .footer h4{            
        padding-top: 5%!important;
        font-size: 16px;
    }
    .linkFooter{
        padding-left: 20%;
    }
    .link{        
        margin-top: 4%;
        margin-left: 5%;
    }.footer h5{
        margin-top: 5%;
        font-size: 12px!important;
    }
    .TestSkills h3{
        font-size: 20px;
    }
    .TestSkills img{        
        width : 50px;
        height: 50px;
    }
    .TestSkills figure{
        display: inline-block;
        float: left;
    }
    .TestSkills figure figcaption{
         font-size: 11px;   
    }
    .TestSkills .hacker{
        visibility: hidden;
    }
    
    
}
