body{
    background: ;
}
header{
    background-image: url("../assets/img/SystemBack1.jpg");   
    height : 661px;    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

 a.nav-link{
            padding: 0;
        }
        button .btn-outline-default{
            padding-right: 0;
            margin-right: 0;            
        }
        .btn-outline-default
        {
            letter-spacing: 2px;
            font-size: 11px!important;
            font-family: 'Do Hyeon', sans-serif;
        }
        .btn-outline-default:hover{
            color:white!important;
            background-color: #2bbbad!important;               
        }

.bg-dark{
    background-color:rgba(0, 0, 0, 0.6)!important;
}
.nav-bar{
    background-color:#000!important;
}
.education{             
    width : 100%;
    height : 100px;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 0.5px;
}
.edu-box{     
    color : ;
    background: ;
    width : 340px;
    height : 300px;    
    box-shadow: -5px 5px 10px 5px;
}
.edu-box .year p {        
    color: white!important;
    text-align: center!important;
}

        /*SKILLS*/
.skills {
    height : 530px;
    width : 100%;
    background-color: #ecf1f4;
}
.technical {
    color : aliceblue;
    padding: 5%;
    background-color:#424242;
}
.skills ul li{
    text-align: ;
}
.skills .progress{
    margin-top : 3%;
}
    
        /*END OF SKILLS */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

@media only screen and (max-width: 768px) {
    
    header{        
        background-image: url(../assets/img/SystemBack1.jpg);
        height : 550px;
        width: 100%;        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;         
        }       
    #skills { 
       margin-top: 350%!important;
    }
     #Education{
        margin-top: 90%!important;          
    } 
     }
@media screen and (max-width: 380px) {
    header{
        height: 550px!important;
    }
    .heading h2{
        margin-top: 2%;
        font-size : 170%;        
    }
    .paraHeadertxt{
        font-size : 80%;
    }
    .aboutbtn{
        margin-top: -15%;
        padding: 3%!important;
    }
    .aboutMe .aboutImg{
        border-right: hidden!important;
        text-align: center!important;
    }
    .abouttxt{
        font-size : 100%!important;
    }
    .abouttxtHead{
        font-size : 80%!important;
    }
    .abouttxtSub{
        font-size : 90%!important;
    }
    #Education{
        margin-top: 40%!important;          
    }    
    .edu-box{        
        width : 300px;
    }
    .edu-box .year{        
        margin-left: 0%!important;
    }
    
}
